.opening {
    text-align: center;
    color: rgb(222, 138, 28);
    text-shadow: 1px 1px 2px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.welcome {
    text-align: center;
    color: rgb(222, 138, 28);
    text-shadow: black;
    text-shadow: 1px 1px 2px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-weight:400;
    background-image: url(charles-deluvio-PqsImnjuElM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
.card-body {
    background-color: burlywood;
}
.list-group {
    background-color: rgb(227, 206, 178);
}
.list-group-item {
    background-color: rgb(225, 212, 194);
}
.card-title {
    font-size: large;
}
.navbar { 
    font-weight: bolder;
    text-align:justify;
    /* background-color:rgb(222, 138, 28); */
}